@page "{Id:Guid}"
@model Docker.Benchmarking.Orchestrator.Web.Pages.AzureCredentials.DetailsModel
@{
    ViewData["Title"] = "Azure Credentials Details: " + Model.ViewModel.Name;
}

<h1 class="h2">@ViewData["Title"]</h1>

<p>@Model.ViewModel.Name</p>