<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9b7db89f-27a6-44eb-becc-0967fbff3e76/resourcegroups/university-project-linux/providers/Microsoft.Web/sites/DockerBenchmarkingOrchestrator</ResourceId>
    <ResourceGroup>university-project-linux</ResourceGroup>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://dockerbenchmarkingorchestrator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <IsLinux>true</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>21b63f98-a038-4275-811d-359960b09a0e</ProjectGuid>
    <MSDeployServiceURL>waws-prod-am2-177.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DockerBenchmarkingOrchestrator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DockerBenchmarkingOrchestrator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>