<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9b7db89f-27a6-44eb-becc-0967fbff3e76/resourceGroups/university-project/providers/Microsoft.ContainerRegistry/registries/mnee2</ResourceId>
    <ResourceName>mnee2</ResourceName>
    <ResourceGroup>university-project</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://mnee2.azurecr.io/</RegistryUrl>
    <UserName>mnee2</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>21b63f98-a038-4275-811d-359960b09a0e</ProjectGuid>
  </PropertyGroup>
</Project>